body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.hive.blog/p/23KQwnti57stuXpnvnU2ByoTTe7rtyo8v5uYk1kPymfyjguJmftL7537Va9qDKdi6eQd7kza8Bvp8mLt5nqCwoxzpSJnRqo?format=match&mode=fit');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    text-align: center;
    padding: 20px;
}


h1 {
    color: #0077cc;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007CBA;
}

input[type="radio"] {
    margin: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

#reglas-del-juego ol {
    text-align: left;
    display: inline-block;
}

#reglas-del-juego li {
    margin: 10px 0;
}

#seleccionar-personaje {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.opciones-personaje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}



@media (max-width: 768px) {
    #seleccionar-personaje {
        flex-direction: column;
    }

    .opciones-personaje {
        flex-direction: column;
    }
}


.boton-seleccionar {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#boton-personaje {
    flex-basis: 100%;
    margin-top: 20px; 
}

strong {
    color: #d35400;
}
input[type="radio"] {
    display: block;
    margin: 10px auto;
}

label {
    display: block;
    text-align: center;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px 0;
        padding: 10px;
    }

    button {
        padding: 5px 10px;
        font-size: 14px;
    }

    #seleccionar-personaje {
        flex-direction:inherit;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    section {
        padding: 5px;
    }

    button {
        margin: 5px;
        padding: 5px 3px;
        font-size: 12px;
    }

    .boton-seleccionar, #boton-personaje {
        margin-top: 5px;
    }
}

h1 img {
    max-width: 40%;
    height: auto;
}

.opciones-personaje label,
.opciones-personaje input {
    display: block;
}