body {
    font-family: 'Papyrus', sans-serif;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fdfdfd;
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto; 
    background-color: rgba(255, 255, 255, 0); 
}

h1 {
    color: #0077cc00;
}
.boton-jugar {
    background-color: transparent; 
    border: none; 
    padding: 0;
    width: 150px; 
    height: auto; 
}
section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.opciones-personaje img {
    width: 150px; 
    cursor: pointer;
    border: 2px solid #000; 
    border-radius: 10px; 
    padding: 5px; 
    transition: transform 0.2s ease-in-out; 
}

.opciones-personaje img:hover {
    transform: scale(1.05); 
    border-color: #fcfcfb; 
}
.opciones-personaje img.seleccionado {
    border-color: #0077cc;
    transform: scale(1.2);
}
.opciones-personaje img {
    border: 2px solid #000; 
    border-radius: 10px;
    padding: 5px; 
    transition: transform 0.2s ease-in-out; 
}
.opciones-personaje {
    background-color: transparent; 
    box-shadow: none; 
    border: none;
}





button {
    background-color: #0d1416;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007CBA;
}

input[type="radio"] {
    margin: 10px;
}

label {
    display: block;
    margin: 5px 0;
}
#reglas-del-juego, #seleccionar-personaje {
    font-size: 18px;
    
}

#reglas-del-juego h4, #seleccionar-personaje h2 {
    font-size: 24px; 
}

#reglas-del-juego {
    background-color: #000000; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 90%; 
}
#reglas-del-juego ol {
    text-align: left;
    display: inline-block;
}

#reglas-del-juego li {
    margin: 10px 0;
}

#seleccionar-personaje {
    display:grid;
    align-items: flex-start;
}

.opciones-personaje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}



@media (max-width: 768px) {
    #seleccionar-personaje {
        flex-direction: column;
    }

    .opciones-personaje {
        flex-direction: column;
        align-items: center;
    }
}


.boton-seleccionar {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#boton-personaje {
    flex-basis: 100%;
    margin-top: 20px; 
}

strong {
    color: #d35400;
}
input[type="radio"] {
    display: block;
    margin: 10px auto;
}

label {
    display: block;
    text-align: center;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px 0;
        padding: 10px;
    }

    button {
        padding: 5px 10px;
        font-size: 14px;
    }

    #seleccionar-personaje {
        flex-direction:inherit;
    }
}

@media (max-width: 480px) {
    .opciones-personaje {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; /* Centra los elementos hijos horizontalmente */
        gap: 10px; /* Añade espacio entre los elementos hijos */
    }
    
    .opciones-personaje img {
        width: 100%; /* Hace que las imágenes sean responsivas dentro de su contenedor */
        max-width: 180px; /* Establece un ancho máximo para las imágenes */
        margin: 10px 0; /* Añade un margen superior e inferior para asegurar espacio alrededor de las imágenes */
    }

    h2 {
        font-size: 24px; /* Ajusta el tamaño del texto, aunque en tu código original mencionas h1, asegúrate de que sea el correcto */
    }

    section {
        padding: 5px;
    }

    button {
        margin: 5px auto; /* Centra el botón horizontalmente */
        padding: 5px 3px;
        font-size: 12px;
        display: block; /* Hace que el botón sea un bloque para permitir el centrado automático */
    }

    .boton-seleccionar, #boton-personaje {
        margin-top: 5px;
    }
}


h1 img {
    max-width: 40%;
    height: auto;
}

.opciones-personaje label,
.opciones-personaje input {
    display: block;
}
#seleccionar-personaje label {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
body {
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 50;
}
